[Unit]
Description=AmneziaWG exporter
After=awg-quick@awg0.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/amneziawg-exporter

[Install]
WantedBy=multi-user.target
